# --- MySQL database ---
DB_NAME=dbname
DB_USER=username
DB_PASSWORD=dbpass
DB_ROOT_PASSWORD=dbrootpass

# --- Ports (optional) ---
# APP_PORT=          # PHP app
# PMA_PORT=          # phpMyAdmin
# DB_EXTERNAL_PORT=  # MySQL

# --- root account default credentials ---
ADMIN_EMAIL=root@life.invader
ADMIN_PASSWORD=adminpassword

# --- Cloudflare Turnstile ---
CLOUDFLARE_SITE_KEY=yourcloudflaresitekey
CLOUDFLARE_SECRET_KEY=yourcludflaresecretkey